#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <global-method-security proxy-target-class="true" pre-post-annotations="enabled" secured-annotations="enabled" />

    <http pattern="/resources/**" security="none"/>

    <http pattern="/resources.js" security="none"/>

    <http pattern="/error/**" security="none"/>

    <http pattern="/**" use-expressions="true">
        <intercept-url pattern="/home" access="isAnonymous()"/>
        <intercept-url pattern="/*" access="isAuthenticated()"/>
    </http>
</beans:beans>