#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <global-method-security proxy-target-class="true" pre-post-annotations="enabled" secured-annotations="enabled" />

    <http pattern="/robots.txt" security="none"/>
    <http pattern="/crossdomain.xml" security="none"/>
    <http pattern="/favicon.ico" security="none"/>
    <http pattern="/apple-touch-*.png" security="none"/>

    <http pattern="/resources/**" security="none"/>
    <http pattern="/template/**" security="none"/>


    <http pattern="/resources.json" security="none"/>

    <http pattern="/error/**" security="none"/>

    <http pattern="/home" security="none"/>
    <http pattern="/about" security="none"/>
    <http pattern="/contact" security="none"/>

    <http pattern="/**" use-expressions="true">
        <intercept-url pattern="/login" access="isAnonymous()" />
        <intercept-url pattern="/**" access="isAuthenticated()" />

        <form-login login-page="/login" authentication-failure-url="/login" default-target-url="/home" />
        <logout logout-url="/logout" logout-success-url="/home" delete-cookies="JSESSIONID" />

        <session-management session-fixation-protection="newSession">
             <concurrency-control max-sessions="1" />
         </session-management>
    </http>

    <authentication-manager>
        <authentication-provider>
            <user-service>
                <user name="admin" password="admin" authorities="ROLE_USER, ROLE_ADMIN"/>
            </user-service>
        </authentication-provider>
    </authentication-manager>
</beans:beans>